<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" [(opened)]="toolbarOpened">
    <ng-template [loadModule]="configuredModule" deferredLoading="true" (moduleLoaded)="sideNav.open()"></ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <a [routerLink]="['/login']" routerLinkActive="false">Back to LOGIN page</a>
    <button mat-raised-button (click)="openToolbar()">{{ sideNav.opened ? 'Close' : 'Open' }} toolbar</button>
    <h2>This is a customizable dashboard for {{ tenantData.name | uppercase }}</h2>
    <ng-template vcrHost></ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
